.list {
  width: 120%;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f9f8f8;
  color:#808080;
  cursor: pointer;
  user-select: none;
}

.btn-insert {
  color: #fff;
  padding: 10px 10px;
  margin: 20px;
  margin-left: 90px;
  border-radius: 4px;
  text-decoration: none;
  transition: color 200ms;
  background-color:#ffd800;
  border: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.btn-insert:hover {
  background-color : #ffdb58;
}

.btn-button-edit {
  color: #808080;
  padding: 5px 27px;
  margin-top: 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: color 200ms;
  background-color:#f9f8f8;
  border-color: #808080;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.btn-button-edit:hover {
  background-color: rgba(0,0,0,.87);
  color: #fff;
}

.btn-button-delete {
  color: #808080;
  padding: 5px 27px;
  margin-top: 10px;
  margin-inline: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: color 200ms;
  background-color:#f9f8f8;
  border-color: #808080;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.btn-button-delete:hover {
  background-color: rgba(0,0,0,.87);
  color: #fff;
}

.btn-links{
  display: block;
  margin-left: 40px;
}

.list-box {
  padding: 0px;
}

@media (min-width: 400px){
  .btn-links{
    display: flex;
   }
}

@media (min-width: 400px){
  .list {
    width: 90%;
 }
}

@media (min-width: 400px){
  .btn-insert {
    padding: 10px 80px;
    margin: 50px;
    margin-left: 90px;
 }
}

@media (min-width: 400px){
.list-box {
  padding: 10px;
 }
}